restservicedemo/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    BOOK*,
    PERSON*)>

<!ELEMENT BOOK EMPTY>
<!ATTLIST BOOK
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
    YOR CDATA #IMPLIED
    PERSON_ID CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    YOB CDATA #IMPLIED
>

